/* AllocationRow.css */
/* Other styles as needed */

/* Style for the increase button */
button.increase {
  background-color: green;
  color: white;
  border-radius: 50px;
  padding: 8px 12px;
  cursor: pointer;
}

/* Style for the decrease button */
button.decrease {
  background-color: red;
  color: white;
  border-radius: 50px;
  padding: 8px 12px;
  cursor: pointer;
}

/* Style for the delete button */
button.delete {
  background-color: black; /* Change background color to grey */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 50px; /* Add border-radius for rounded corners */
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}